<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {{#if about}}
                <li class="active"><a href="/about">About</a></li>
            {{else}}
                <li><a href="/about">About</a></li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form inline form" method="get" action="/submit">
                <div class="form-group">
                    <input type="text" class="form-control" name="summoner" id="summonerNameInput"
                           placeholder="Summoner Name...">
                </div>
                <div class="form-group">
                    {{>select_region}}
                </div>
                <div class="form-group">
                    {{>select_season}}
                </div>
                <button type="submit" class="btn form-control btn-primary">Go!</button>
            </form>
        </ul>
    </div><!--/.nav-collapse -->
</nav>