<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover" id="summonerForm">
                <h1 class="site-title">{{title}}</h1>
                <p class="lead">Do you win more games playing your best champions?
                    <br>Enter your summoner name, region &amp pick a season to find out</p>
                {{#if error}}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> {{error}}
                    </div>
                {{/if}}
                <form class="form-inline" method="get" action="/submit">
                    <div class="form-group">
                        <input type="text" class="form-control" name="summoner" id="summonerNameInput"
                               placeholder="Summoner Name...">
                    </div>
                    <div class="form-group">
                        {{>select_region}}
                    </div>
                    <div class="form-group">
                        {{>select_season}}
                    </div>
                    <button type="submit" class="btn form-control btn-primary">Go!</button>
                </form>

            </div>
        </div>
    </div>
</div>
